.card {
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: linen;
}

.header-container {
    background-color: lightsalmon;
    padding: 0.625em;
    padding-left: 2em;
}

